---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bem vindo! 👋</div>
    <div class="text-5xl font-bold">Meu nome é Johnny Vaz </div>
    <div class="text-3xl py-3 font-bold">Engenheiro de Software, Empreendedor e criador do método PPA</div>
    <div class="py-2">
      <text class="text-justify">
        Graduado em Análise e Desenvolvimento de Sistemas e Bacharel em Administração de Empresas. Conta com mais de 10 anos de expertise em sistemas ERP, com foco em processos nas áreas financeira, fiscal, administrativa e logística. 
        Prática em metodologias ágeis e padrões de projetos como: Kaizen, Scrum, Kanban, Extreme Programming (XP), Feature-Driven Development (FDD), SOLID, Test-Driven Development (TDD), Arquitetura Hexagonal, DevOps, Design Thinking, User Stories, entre outros.
Mais de 4 anos de experiência como Analista e Desenvolvedor de Sistemas, trabalhando com linguagens como Java, Node.js e React, e outras ferramentas usando as linguagens PHP, Shell Script, Python e Asterisk. Além de possuir mais de 6 anos de vivência em servidores Linux e Sistemas OpenSource. Mentor e Criador do Método PPA, dedicado a auxiliar indivíduos em transição de carreira para a área de tecnologia. Nível intermediário de inglês.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn btn-info" href="https://www.instagram.com/johnnyvaz1" target="_blank">
        Instagram</a>
      <a href="https://calendly.com/johnnyvaz/mentoria" target="_blank" class="btn btn-warning ml-5">
        Agendamento de Reunião
      </a>
    </div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">Últimos Projetos {"</>"}</div>
  </div>

  <HorizontalCard
    title="Site https://cidadaosemfronteiras.com/"
    img="/site-cidadao.png"
    desc="Site em início de desenvolvimento."
    url="https://cidadaosemfronteiras.com/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="API JAVA"
    img="/api-cod2d.png"
    desc="API de Integração com Cod2D, para geração do novo código QRCode que irá substituir o atual código de barras"
    url="https://api.cod2d.com.br/api/swagger-ui/index.html"
  />
  <div class="divider my-0"></div>
  -->

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Últimas postagens</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
