---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bem vindo! 👋</div>
    <div class="text-5xl font-bold">Meu nome é Johnny Vaz </div>
    <div class="text-3xl py-3 font-bold">Engenheiro de Software, Empreendedor e criador do método PPA</div>
    <div class="py-2">
      <text class="text-lg">
        Esse é meu espaço para divulgar um pouco do meu trabalho como Analista e Desenvolvedor de Software, compartilhamento 
        de informações sobre tecnologia e como entrar em contato comigo, fique a vontade.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.instagram.com/johnnyvaz1" target="_blank"> Instagram</a>
      <a href="https://ppa.systems" target="_blank" class="btn btn-outline ml-5">
        Método PPA
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Últimos Projetos {"</>"}</div>
  </div>

  <HorizontalCard
    title="Site https://cidadaosemfronteiras.com/"
    img="/site-cidadao.png"
    desc="Site em início de desenvolvimento."
    url="https://cidadaosemfronteiras.com/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="API JAVA"
    img="/api-cod2d.png"
    desc="API de Integração com Cod2D, para geração do novo código QRCode que irá substituir o atual código de barras"
    url="https://api.cod2d.com.br/api/swagger-ui/index.html"
  />
  <div class="divider my-0"></div>
 

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Últimas postagens</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
